<section class="betazon">
  <div class="video-container">
      <video autoplay muted loop class="background-video">
          <source src="../../../assets/videonumeri.mp4" type="video/mp4">
      </video>
  </div>
  <div class="content">
      <img src="../../../assets/logobianco.png" alt="Betazon Logo" class="logo-bet-grande">
  </div>
</section>

<section class="products-section">
  <h2 class="text-primary">I NOSTRI PRODOTTI</h2>
  <div class="container">
      <div class="row">
          <div class="col-md-6 product clickable-card" data-url="/shop/listComputers" style="cursor: pointer;">
              <img src="../../../assets/computer.png" alt="Prodotto 1" class="product-image">
              <div class="product-info">
                  <h2>COMPUTER</h2>
              </div>
          </div>
          <div class="col-md-6 product clickable-card" data-url="/shop/listLaptops" style="cursor: pointer;">
              <div class="product-info">
                  <h2>LAPTOP</h2>
              </div>
              <img src="../../../assets/laptop.png" alt="Prodotto 2" class="product-image">
          </div>
          <div class="col-md-6 product clickable-card" data-url="/shop/listSmartphones" style="cursor: pointer;">
              <img src="../../../assets/telefono.png" alt="Prodotto 3" class="product-image">
              <div class="product-info">
                  <h2>TELEFONI</h2>
              </div>
          </div>
          <div class="col-md-6 product clickable-card" data-url="/shop/listMouse" style="cursor: pointer;">
              <div class="product-info">
                  <h2>MOUSE</h2>
              </div>
              <img src="../../../assets/mouse.png" alt="Prodotto 4" class="product-image">
          </div>
      </div>
  </div>
</section>
