/* src/app/navigation/navigation.component.css */
.logo {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}

.logo-betacom {
  margin-left: 50px;
  width: 200px;
  height: auto;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.navbar {
  background-color: #19287e;
}

.navbar .nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  font-size: 18px;
  color: #00aeff !important;
  text-shadow: 0 4px 8px rgb(0, 0, 0);
}

.nav-item.dropdown {
  position: relative;
}

.nav-item.dropdown .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 0.5rem;
  display: none;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.281);
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  visibility: visible;
}

.dropdown-menu .dropdown-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #1f4dcc;
  color: #f8f8f8;
}

.margin-right {
  margin-right: 50px;
}

.navbar-nav {
  align-items: center;
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .margin-right {
    margin-right: 0;
  }

  .navbar-brand {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 5px;
  }

  .logo-betacom {
    width: 150px;
  }

  .logo {
    width: 60px;
  }
}

@media (max-width: 576px) {
  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 5px;
  }

  .logo-betacom {
    width: 120px;
  }

  .logo {
    width: 50px;
  }
}
